.sidebar{
    box-shadow: 8px 1px 12px -3px rgba(0,0,0,0.15);
    -webkit-box-shadow: 8px 1px 12px -3px rgba(0,0,0,0.15);
    -moz-box-shadow: 8px 1px 12px -3px rgba(0,0,0,0.15);
}
.rotate{
    animation:spin 1s infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  }