@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --fc-button-bg-color: #202635;
    --fc-button-hover-bg-color: #202635;
    --fc-button-border-color: #ffffff49;
    --fc-button-hover-border-color: #ffffff6b;
    --fc-today-bg-color:#8EA7E9;
}
body{
    font-family: 'Poppins', sans-serif;
}
*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer components{
    .dark{
        @apply bg-gray-900 text-white
    }
    .white{
        @apply bg-slate-50 text-gray-800
    }
}